version: "3.9"

services:
  wallet:
    ports:
      - "127.0.0.1:8000:8000"

  transaction:
    ports:
      - "127.0.0.1:8001:8001"

  blockchain:
    ports:
      - "127.0.0.1:8002:8002"

  miner:
    ports:
      - "127.0.0.1:8003:8003"
